<!DOCTYPE html>
<html>
    <head>
        <title>Contact Us</title>
    </head>
    <style>
        body{
            background-color: rgb(138, 5, 150);
            font-family: Verdana;
            margin-top: 40px;
            
        }
        h1 , h2{
            text-align: center;
            color: whitesmoke;
        }

        h1{
            text-transform: uppercase;
        }
    </style>
    <body>
        <%- include('partial/nav.ejs'); -%>
        <h1>Contact Us</h1>
        <h2>This is the contact-us page.</h2>
    </body>
</html>