<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link href="/assets/style.css" rel = "stylesheet" type="text/css">
    </head>
    <body>
        <%- include('partial/nav.ejs'); -%>
        <h1>Home Page</h1>
        <h2>This is the home page.</h2>
    </body>
</html>